#calculator-frame
{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
    height: 700px;

    border: 8px solid gray;
    background-color: gainsboro;
    margin: 3rem;
}

#calculator-screen
{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 350px;
    aspect-ratio: 2/1;

    border: 4px solid gray;
    background-color: whitesmoke;

    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;

    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    font-size: 48px;

    flex: 0 1 25%;
}

#calculator-body
{
    display: flex;
    justify-content: center;

    flex: 0 1 50%;
}

.number-panel
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
    margin-right: 16px;
}

.numRowOne, .numRowTwo, .numRowThree
{
    display: flex;
    justify-content: space-between;
}

.operator-panel
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button
{
    cursor: pointer;
}

.number-button, .operator-button, #equals-button
{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 4px;
    padding: 24px;
    font-size: 24px;

    min-width: 0;
    min-height: 0;
    aspect-ratio: 1.5/1;
    box-sizing: border-box;
}

#zero-clear-delete
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 24px;
    
    gap: 8px;
    margin-top: 4px;

    min-width: 0;
    min-height: 0;
    aspect-ratio: 4/1;
    box-sizing: border-box;

    flex: 0 1 25%;
}

#clear-button, #delete-button
{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 4px;
    margin-right: 4px;
    margin-top: 8px;
    margin-bottom: 4px;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;

    font-size: 16px;
}